<div class="datepicker grid">
  <div class="header">
    <h1>Opret ny rapport</h1>
  </div>
  <div class="content">
    <h2>Title</h2>
    <div class="inputcontainer">
      <input type="text"/>
    </div>
    <div class="grid content-inner">
      <div>
        <div class="select">
          <div class="select-inner left">
            <select  ng-init="'fromYear = year[0]'" ng-change="update()" ng-model="fromYear" ng-options="year as year for year in year track by year" name="År">
            </select>
          </div>
        </div>
        <div class="select">
          <div class="select-inner">
            <select ng-model="fromMonth"  ng-change="update()" ng-options="u as u.month for u in month track by u.val" name="Maaned" >
            </select>
          </div>
        </div>
        <div class="select">
          <div class="select-inner right">
            <select ng-model="fromDay" ng-options="day as day for day in day track by day" name="Dag" >
            </select>
          </div>
        </div>
      </div>
      <div>
        <h3>Dato til</h3>
        <div class="select">
          <div class="select-inner left">
            <select  ng-init="toYear = year[0]" ng-model="toYear" ng-options="year as year for year in year track by year" name="År">
            </select>
          </div>
        </div>
        <div class="select">
          <div class="select-inner">
            <select ng-model="toMonth" ng-options="u as u.month for u in month track by u.val" name="Maaned" >
            </select>
          </div>
        </div>
        <div class="select">
          <div class="select-inner right">
            <select ng-model="toDay" ng-options="day as day for day in day track by day" name="Dag" >
            </select>
          </div>
        </div>
        <button class="btn" ng-disabled="!fromYear || !fromMonth || !fromDay || !toYear || !toMonth || !toDay" ng-click="createReport()">Gå Videre</button>
      </div>
    </div>
  </div>
</div>