<div class="datepicker grid">
  <div class="header">
    <h1>Opret ny rapport</h1>
  </div>
  <div class="content">
    <h2 class="label">Title</h2>
    <div class="inputcontainer">
      <input type="text" ng-model="title" />
    </div>
    <div class="content-inner">
      <div class="grid">
        <h2 class="label">Dato fra</h2>
        <div class="select">
          <div class="select-inner left">
            <div ng-class="{active : dropDown == 'year'}" class="dropdown_header" ng-click="dropDown = 'year'">{{fromYear || "År"}}</div>
            <div ng-if="dropDown == 'year'" ng-class="{dropdown_content : dropDown == 'year'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="year in year" >
                    <input id="checkfrom{{year}}{{$index}}" type="radio" name="check" value="true" >
                    <label for="checkfrom{{year}}{{$index}}" ng-click="$parent.fromYear = $parent.year[$index]; $parent.dropDown = ''">{{year}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="dropDown == 'year'" ng-click="dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
        <div class="select">
          <div class="select-inner">
            <div ng-class="{active : dropDown == 'month'}" class="dropdown_header" ng-click="dropDown = 'month'">{{fromMonth.month || "Måned"}}</div>
            <div ng-if="dropDown == 'month'" ng-class="{dropdown_content : dropDown == 'month'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="month in month" >
                    <input id="checkfrom{{month.month}}{{$index}}" type="radio" name="check" value="checkfrom{{month.month}}{{$index}}" >
                    <label for="checkfrom{{month.month}}{{$index}}" ng-click="$parent.fromMonth = $parent.month[$index]; $parent.dropDown = ''">{{month.month}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="dropDown == 'month'" ng-click="dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
        <div class="select">
          <div class="select-inner right">
            <div ng-class="{active : dropDown == 'day'}" class="dropdown_header" ng-click="dropDown = 'day'">{{fromDay || "Dag"}}</div>
            <div ng-if="dropDown == 'day'" ng-class="{dropdown_content : dropDown == 'day'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="day in day" >
                    <input id="checkfrom{{day}}{{$index}}" type="radio" name="check" value="checkfrom{{day}}{{$index}}" >
                    <label for="checkfrom{{day}}{{$index}}" ng-click="$parent.fromDay= $parent.day[$index]; $parent.dropDown = ''">{{day}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="dropDown == 'day'" ng-click="dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
      </div>
      <div class="grid">
        <h2 class="label">Dato til</h2>
        <div class="select">
          <div class="select-inner left">
            <div ng-class="{active : dropDown == 'toYear'}" class="dropdown_header" ng-click="dropDown = 'toYear'">{{toYear || "År"}}</div>
            <div ng-if="dropDown == 'toYear'" ng-class="{dropdown_content : dropDown == 'toYear'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="year in year" >
                    <input id="checkto{{year}}{{$index}}" type="radio" name="check" value="checkto{{year}}{{$index}}" >
                    <label for="checkto{{year}}{{$index}}" ng-click="$parent.toYear= $parent.year[$index]; $parent.dropDown = ''">{{year}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="dropDown == 'toYear'" ng-click="dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
        <div class="select">
          <div class="select-inner">
            <div ng-class="{active : dropDown == 'toMonth'}" class="dropdown_header" ng-click="dropDown = 'toMonth'">{{toMonth.month || "Måned"}}</div>
            <div ng-if="dropDown == 'toMonth'" ng-class="{dropdown_content : dropDown == 'toMonth'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="month in month" >
                    <input id="checkto{{month.month}}{{$index}}" type="radio" name="check" value="checkto{{month.month}}{{$index}}" >
                    <label for="checkto{{month.month}}{{$index}}" ng-click="$parent.toMonth= $parent.month[$index]; $parent.dropDown = ''">{{month.month}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="dropDown == 'toMonth'" ng-click="dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
        <div class="select">
          <div class="select-inner right">
            <div ng-class="{active : dropDown == 'toDay'}" class="dropdown_header" ng-click="dropDown = 'toDay'">{{toDay || "Dag"}}</div>
            <div ng-if="dropDown == 'toDay'" ng-class="{dropdown_content : dropDown == 'toDay'}" class="animate col-1-8">
              <ul>
                <li>
                  <div class="custom-radio" ng-repeat="day in day" >
                    <input id="checkto{{day}}{{$index}}" type="radio" name="check" value="checkto{{day}}{{$index}}" >
                    <label for="checkto{{day}}{{$index}}" ng-click="$parent.toDay= $parent.day[$index]; $parent.dropDown = ''">{{day}}</label>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="dropDown == 'toDay'" ng-click="dropDown =''" class="datepicker-overlay"></div>
          </div>
        </div>
      </div>
      <div class="grid">
        <button class="btn" ng-click="createReport();">Gå Videre</button>
      </div>
    </div>
  </div>
</div>