<div class="reportmenu grid">
  <div class="col-3-4">
    <ul>
      <li class="icon icon-arrow"><a href="" ng-click="LogMenubar.checkInputs()" >Tilbage</a></li>
      <li>Title på i-log</li>
    </ul>
  </div>
  <div class="icons col-1-4" ng-click="LogMenubar.saveLog()">
    <div class="float-right">
      <div class="circ">
        <span class="icon icon-plus"></span>
      </div>
      <div class="circ">
        <span class="icon icon-trash-bin"></span>
      </div>
      <div class="circ">
        <span class="icon icon-disc"></span>
      </div>
    </div>
  </div>
</div>