<div class="menubar grid">
  <div class="col-3-4">
    <ul>
      <li ng-class="{active : $root.showSection == '/logs'}" class="icon icon-logs"><a href="#/logs" >Mine logs</a></li>
      <li> | </li>
      <li ng-class="{active : $root.showSection == '/rapporter'}" class="icon icon-reports"><a href="#/rapporter">Mine rapporter</a></li>
    </ul>
  </div>
  <div ng-if="$root.showSection == '/logs'" class="icons col-1-4">
    <div ng-click="Menubar.createReport()" class="circ">
      <span class>Fejl</span>
    </div>
    <div ng-click="Menubar.openError()" class="circ">
      <span>hide</span>
    </div>
    <div class="circ">
      <span>Help</span>
    </div>
  </div>
  <div ng-if="$root.showSection == '/rapporter'" class="icons col-1-4">
    <div ng-click="Menubar.createReport()" class="circ">
      <span class>Plus</span>
    </div>
    <div ng-click="Menubar.openError()" class="circ">
      <span>hide</span>
    </div>
    <div class="circ">
      <span>Help</span>
    </div>
  </div>
</div>

<div dialog>
</div>