<div class="menubar grid">
  <div class="col-3-4">
    <ul>
      <li><a href="#/logs" ng-class="{active : $root.showSection == '/logs'}">Mine logs</a></li>
      <li><a href="#/rapporter" ng-class="{active : $root.showSection == '/rapporter'}">Mine rapporter</a></li>
    </ul>
  </div>
  <div class="icons col-1-4">
    <div ng-click="Menubar.createReport()" class="circ">
      <span class>Plus</span>
    </div>
    <div class="circ">
      <span>hide statusbar</span>
    </div>
    <div class="circ">
      <span>Help</span>
    </div>
  </div>
</div>

<div class="ngdialog">
  <div class="ngdialog-content">
    <div date-picker></div>
  </div>
</div>