<div class="menubar reportmenu grid">
  <div class="col-7-8">
    <ul>
      <li>
        <a href="#/rapporter">
        <span class="back circ">
          <span class="icon icon-arrow">
          </span>
        </span>
        </a>
      </li>
      <li>Title på i log</li>
      <li> --> Mangler dato fra og til. Se design</li>
    </ul>
  </div>
  <div class="icons col-1-8">
      <div class="float-right">
          <div class="circ">
              <span class="icon icon-speech"></span>
          </div>
          <div class="circ">
              <span class="icon icon-trash-bin"></span>
          </div>
          <div class="circ">
              <span class="icon icon-disc"></span>
          </div>
      </div>
  </div>
</div>
