@charset "UTF-8";
/* line 13, ../sass/reset/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../sass/reset/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 27, ../sass/reset/_reset.scss */
body {
  line-height: 1;
}

/* line 30, ../sass/reset/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 33, ../sass/reset/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 37, ../sass/reset/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_grid.scss */
.grid {
  clear: both;
  margin: 0 0 0px 0;
}
/* line 11, ../sass/_grid.scss */
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../sass/_grid.scss */
[class*='col-'] {
  float: left;
  padding-right: 0px;
}
/* line 22, ../sass/_grid.scss */
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 26, ../sass/_grid.scss */
.col-7-8 {
  width: 87.5%;
}

/* line 29, ../sass/_grid.scss */
.col-6-8 {
  width: 75%;
}

/* line 32, ../sass/_grid.scss */
.col-5-8 {
  width: 62.5%;
}

/* line 35, ../sass/_grid.scss */
.col-3-4 {
  width: 75%;
}

/* line 38, ../sass/_grid.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 41, ../sass/_grid.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 44, ../sass/_grid.scss */
.col-1-2 {
  width: 50%;
}

/* line 47, ../sass/_grid.scss */
.col-1-4 {
  width: 25%;
}

/* line 50, ../sass/_grid.scss */
.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside padding */
/* line 55, ../sass/_grid.scss */
.grid-pad {
  padding: 0px 0 0px 0px;
}
/* line 57, ../sass/_grid.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 0px;
}

/* line 1, ../sass/_loader.scss */
.spinner-backdrop {
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.71);
  width: 100%;
  height: 100%;
  @-webkit-keyframes bouncedelay {
    /* line 109, ../sass/_loader.scss */
    0%, 80%, 100% {
      -webkit-transform: scale(0);
    }

    /* line 110, ../sass/_loader.scss */
    40% {
      -webkit-transform: scale(1);
    }
}

  @keyframes bouncedelay {
    /* line 114, ../sass/_loader.scss */
    0%, 80%, 100% {
      transform: scale(0);
      -webkit-transform: scale(0);
    }

    /* line 117, ../sass/_loader.scss */
    40% {
      transform: scale(1);
      -webkit-transform: scale(1);
    }
}

}
/* line 8, ../sass/_loader.scss */
.spinner-backdrop .spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 15px);
  margin-left: -15px;
  top: calc(50% - 15px);
  margin-top: 9px;
}
/* line 18, ../sass/_loader.scss */
.spinner-backdrop .container1 > div, .spinner-backdrop .container2 > div, .spinner-backdrop .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 32, ../sass/_loader.scss */
.spinner-backdrop .spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 38, ../sass/_loader.scss */
.spinner-backdrop .container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
/* line 43, ../sass/_loader.scss */
.spinner-backdrop .container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
/* line 48, ../sass/_loader.scss */
.spinner-backdrop .circle1 {
  top: 0;
  left: 0;
}
/* line 49, ../sass/_loader.scss */
.spinner-backdrop .circle2 {
  top: 0;
  right: 0;
}
/* line 50, ../sass/_loader.scss */
.spinner-backdrop .circle3 {
  right: 0;
  bottom: 0;
}
/* line 51, ../sass/_loader.scss */
.spinner-backdrop .circle4 {
  left: 0;
  bottom: 0;
}
/* line 53, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
/* line 58, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
/* line 63, ../sass/_loader.scss */
.spinner-backdrop .container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
/* line 68, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
/* line 73, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
/* line 78, ../sass/_loader.scss */
.spinner-backdrop .container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
/* line 83, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
/* line 88, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
/* line 93, ../sass/_loader.scss */
.spinner-backdrop .container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
/* line 98, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
/* line 103, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@font-face {
  font-family: "ilog";
  src: url("../fonts/ilog.eot");
  src: url("../fonts/ilog.eot?#iefix") format("embedded-opentype"), url("../fonts/ilog.woff") format("woff"), url("../fonts/ilog.ttf") format("truetype"), url("../fonts/ilog.svg#ilog") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 14, ../sass/components/_fonts.scss */
[data-icon]:before {
  font-family: "ilog" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: top;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 29, ../sass/components/_fonts.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ilog" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: top;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 43, ../sass/components/_fonts.scss */
.icon-trash-bin:before {
  content: "m";
}

/* line 46, ../sass/components/_fonts.scss */
.icon-question:before {
  content: "n";
}

/* line 49, ../sass/components/_fonts.scss */
.icon-arrow:before {
  content: "a";
}

/* line 52, ../sass/components/_fonts.scss */
.icon-bar:before {
  content: "b";
}

/* line 55, ../sass/components/_fonts.scss */
.icon-disc:before {
  content: "c";
}

/* line 58, ../sass/components/_fonts.scss */
.icon-dots:before {
  content: "d";
}

/* line 61, ../sass/components/_fonts.scss */
.icon-edit:before {
  content: "e";
}

/* line 64, ../sass/components/_fonts.scss */
.icon-filter:before {
  content: "f";
}

/* line 67, ../sass/components/_fonts.scss */
.icon-grid:before {
  content: "g";
}

/* line 70, ../sass/components/_fonts.scss */
.icon-line:before {
  content: "h";
}

/* line 73, ../sass/components/_fonts.scss */
.icon-logs:before {
  content: "i";
}

/* line 76, ../sass/components/_fonts.scss */
.icon-piechart:before {
  content: "j";
}

/* line 79, ../sass/components/_fonts.scss */
.icon-plus:before {
  content: "k";
}

/* line 82, ../sass/components/_fonts.scss */
.icon-quicklook:before {
  content: "l";
}

/* line 85, ../sass/components/_fonts.scss */
.icon-reports:before {
  content: "o";
}

/* line 88, ../sass/components/_fonts.scss */
.icon-speech:before {
  content: "p";
}

/* line 1, ../sass/components/_helpers.scss */
.float-right {
  float: right;
}

/* line 1, ../sass/components/_arrow.scss */
.arrow_box {
  position: relative;
}

/* line 4, ../sass/components/_arrow.scss */
.arrow_box:after {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  display: inline-block;
  pointer-events: none;
  border-top-color: #6c2c1e;
  border-width: 7px;
  margin-left: 10px;
  margin-bottom: -2px;
  vertical-align: middle;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: 50% 40%;
  -moz-transform-origin: 50% 40%;
  -ms-transform-origin: 50% 40%;
  -o-transform-origin: 50% 40%;
  transform-origin: 50% 40%;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}

/* line 1, ../sass/pages/_logs.scss */
h1 {
  color: red;
}

/* line 5, ../sass/pages/_logs.scss */
.log-content {
  background-color: #E9E9E9;
  padding: 0 25px;
}
/* line 9, ../sass/pages/_logs.scss */
.log-content form {
  padding-top: 20px;
}
/* line 13, ../sass/pages/_logs.scss */
.log-content label {
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}
/* line 19, ../sass/pages/_logs.scss */
.log-content .input-field {
  padding-bottom: 20px;
}
/* line 23, ../sass/pages/_logs.scss */
.log-content input {
  border: 0;
  outline: 0;
  height: 37px;
  padding: 0 0px 0 10px;
  margin-right: 5px;
}
/* line 31, ../sass/pages/_logs.scss */
.log-content .dropdown {
  width: 320px;
  border-bottom: 3px solid #000;
}
/* line 35, ../sass/pages/_logs.scss */
.log-content .dropdown select {
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  border: 0;
  width: 300px;
  height: 35px;
  border-radius: 0px;
  padding: 00px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0px;
}
/* line 49, ../sass/pages/_logs.scss */
.log-content .dropdown:after {
  display: inline-block;
  content: "▼";
  float: right;
  line-height: 35px;
}

/* line 1, ../sass/pages/_report.scss */
.report {
  background-color: #FFF;
}
/* line 3, ../sass/pages/_report.scss */
.report .reportsubmenu {
  padding: 0 25px;
  line-height: 50px;
  height: 50px;
  background-color: #f8f8f8;
}
/* line 9, ../sass/pages/_report.scss */
.report .reportsubmenu .col-1-8 {
  cursor: pointer;
}
/* line 12, ../sass/pages/_report.scss */
.report .reportsubmenu .col-1-8 .icon:before {
  vertical-align: middle;
  margin: 0 5px 0 0px;
  font-size: 20px;
}
/* line 21, ../sass/pages/_report.scss */
.report .listview span:first-of-type {
  border-right: 2px solid black;
}
/* line 24, ../sass/pages/_report.scss */
.report .listview span {
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #E5E5E5;
  min-height: 40px;
  line-height: 40px;
  box-sizing: content-box;
}
/* line 35, ../sass/pages/_report.scss */
.report .list-content span.first {
  color: #bfbfbf;
  text-align: right;
  padding-right: 10px;
  margin-left: -10px;
}
/* line 44, ../sass/pages/_report.scss */
.report .list-head span {
  border-bottom: 2px solid #000;
  font-weight: bold;
}
/* line 51, ../sass/pages/_report.scss */
.report .axis path,
.report .axis line {
  fill: none;
  stroke: grey;
  stroke-width: 2;
}

/* line 1, ../sass/components/_topheader.scss */
.topheader {
  height: 50px;
  padding: 0 20px;
  background-color: #383838;
}
/* line 5, ../sass/components/_topheader.scss */
.topheader h1 {
  font-size: 18px;
  line-height: 50px;
}
/* line 7, ../sass/components/_topheader.scss */
.topheader h1 .gyldendal {
  color: #e6e6e6;
}
/* line 11, ../sass/components/_topheader.scss */
.topheader h1 .ilog {
  color: #e04f2f;
}

/* line 1, ../sass/components/_animation.scss */
.animate.ng-enter {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
}

/* line 7, ../sass/components/_animation.scss */
.animate.ng-enter-active {
  opacity: 1;
}

/* line 13, ../sass/components/_animation.scss */
.animate.ng-leave {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* line 18, ../sass/components/_animation.scss */
.animate.ng-leave-active {
  opacity: 0;
}

/* line 1, ../sass/components/_filterbar.scss */
.filterbar {
  width: 100%;
  background-color: #e04f2f;
  line-height: 75px;
  padding: 0 25px;
  float: left;
  border-top: 2px solid #b33f26;
}
/* line 8, ../sass/components/_filterbar.scss */
.filterbar div {
  color: white;
}
/* line 12, ../sass/components/_filterbar.scss */
.filterbar .datefilter {
  margin-left: -15px;
  position: absolute;
  width: 200px;
  z-index: 5;
  background-color: #FFF;
  box-shadow: 0px 0px 10px 0px #474747;
}
/* line 19, ../sass/components/_filterbar.scss */
.filterbar .datefilter .arrow_box:after {
  margin-right: 14px;
  margin-bottom: 10px;
  -webkit-transform-origin: 50% 40%;
  -moz-transform-origin: 50% 40%;
  -ms-transform-origin: 50% 40%;
  -o-transform-origin: 50% 40%;
  transform-origin: 50% 40%;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
}
/* line 28, ../sass/components/_filterbar.scss */
.filterbar .datefilter div {
  color: #e04f2f;
  margin-left: 15px;
}
/* line 32, ../sass/components/_filterbar.scss */
.filterbar .datefilter ul {
  width: 215px;
}
/* line 34, ../sass/components/_filterbar.scss */
.filterbar .datefilter ul li {
  margin-left: 15px;
  line-height: 50px;
}

/* line 1, ../sass/components/_menubar.scss */
.menubar {
  width: 100%;
  padding: 0 25px;
  background-color: white;
  height: 75px;
}
/* line 6, ../sass/components/_menubar.scss */
.menubar.reportmenu {
  background-color: white;
}
/* line 9, ../sass/components/_menubar.scss */
.menubar .back {
  float: left;
  color: #BFBFBF;
  border-color: #BFBFBF;
  margin: 18px 2px;
}
/* line 14, ../sass/components/_menubar.scss */
.menubar .back [class*=" icon-"]:before {
  vertical-align: top;
  margin: 0;
}
/* line 20, ../sass/components/_menubar.scss */
.menubar ul {
  line-height: 70px;
  vertical-align: middle;
  display: inline-block;
}
/* line 24, ../sass/components/_menubar.scss */
.menubar ul li {
  cursor: pointer;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
}
/* line 29, ../sass/components/_menubar.scss */
.menubar ul li.divider {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 34, ../sass/components/_menubar.scss */
.menubar ul [class^="icon-"]:before, .menubar ul [class*=" icon-"]:before {
  margin: 0 10px 0 0px;
  font-size: 20px;
  vertical-align: middle;
}
/* line 40, ../sass/components/_menubar.scss */
.menubar .icons {
  height: 75px;
  float: right;
  display: inline-block;
  vertical-align: middle;
}
/* line 46, ../sass/components/_menubar.scss */
.menubar .icons .icon-question:before {
  font-size: 24px;
}
/* line 51, ../sass/components/_menubar.scss */
.menubar .circ {
  margin-right: 12px;
}
/* line 53, ../sass/components/_menubar.scss */
.menubar .circ :last-of-type {
  margin-right: 0px;
}

/* line 1, ../sass/components/_list.scss */
.list {
  width: 100%;
  float: left;
}
/* line 4, ../sass/components/_list.scss */
.list .listheader {
  line-height: 50px;
  padding: 0 25px;
  height: 50px;
  background-color: #FFF;
  border-bottom: 1px solid #c8c8c8;
}
/* line 10, ../sass/components/_list.scss */
.list .listheader span {
  cursor: pointer;
}
/* line 13, ../sass/components/_list.scss */
.list .listheader span:hover {
  color: #e04f2f;
  -webkit-transition-property: color;
  -moz-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
/* line 21, ../sass/components/_list.scss */
.list .listitem {
  padding: 0 25px;
  cursor: pointer;
  line-height: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  float: left;
}
/* line 31, ../sass/components/_list.scss */
.list .listitem .date {
  font-weight: bold;
}
/* line 34, ../sass/components/_list.scss */
.list .listitem .circ {
  margin: 10px 5px;
  width: 25px;
  line-height: 20px;
  height: 25px;
  vertical-align: top;
}
/* line 42, ../sass/components/_list.scss */
.list .listitem .circ span {
  line-height: 20px;
  font-size: 12px;
}
/* line 45, ../sass/components/_list.scss */
.list .listitem .circ span.edit {
  background-image: url("../images/pen.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
  display: block;
  line-height: 35px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  margin-top: 4px;
}
/* line 59, ../sass/components/_list.scss */
.list .listitem .circ span.trash {
  background-image: url("../images/trash.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 15px;
  background-size: 13px 15px;
  display: block;
  line-height: 35px;
  text-align: center;
  margin: auto;
  vertical-align: middle;
  margin-top: 3px;
}
/* line 75, ../sass/components/_list.scss */
.list .listitem .circ [class^="icon-"]:before,
.list .listitem .circ [class*=" icon-"]:before {
  line-height: 22px;
  font-size: 12px;
}

/* line 3, ../sass/components/_circle-icons.scss */
.circ {
  cursor: pointer;
  text-align: center;
  width: 35px;
  height: 35px;
  border: 2px solid #383838;
  border-radius: 50%;
  margin: 20px 1px;
  line-height: 35px;
  display: inline-block;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
/* line 19, ../sass/components/_circle-icons.scss */
.circ [class^="icon-"]:before,
.circ [class*=" icon-"]:before {
  line-height: 33px;
  font-size: 16px;
  color: #383838;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
/* line 29, ../sass/components/_circle-icons.scss */
.circ:hover {
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  color: #e04f2f;
  border-color: #e04f2f;
}
/* line 37, ../sass/components/_circle-icons.scss */
.circ:hover [class^="icon-"]:before,
.circ:hover [class*=" icon-"]:before {
  color: #e04f2f;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
/* line 46, ../sass/components/_circle-icons.scss */
.circ span {
  line-height: 35px;
}

/* line 1, ../sass/components/_custom-checkbox.scss */
.custom-radio {
  margin-left: 0px !important;
}
/* line 3, ../sass/components/_custom-checkbox.scss */
.custom-radio input[type=radio] {
  display: none;
}
/* line 7, ../sass/components/_custom-checkbox.scss */
.custom-radio label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  left: 0;
  border: 3px solid #FFF;
  box-shadow: 0 0 0 2px #000;
  vertical-align: sub;
  border-radius: 8px;
}
/* line 21, ../sass/components/_custom-checkbox.scss */
.custom-radio label {
  display: block;
  width: 100%;
  margin-bottom: 0px;
}
/* line 26, ../sass/components/_custom-checkbox.scss */
.custom-radio label:before {
  border-radius: 50%;
}
/* line 30, ../sass/components/_custom-checkbox.scss */
.custom-radio input[type=radio]:checked + label:before {
  content: "";
  background-color: #e04f2f;
  text-align: center;
  line-height: 15px;
}

/* line 39, ../sass/components/_custom-checkbox.scss */
.custom-checkbox input[type=checkbox] {
  display: none;
}
/* line 43, ../sass/components/_custom-checkbox.scss */
.custom-checkbox label:before {
  cursor: pointer;
  display: block;
  height: 20px;
  width: 20px;
  background-color: #FFF;
  border: 4px solid white;
  margin-bottom: 0px;
  content: " ";
}
/* line 55, ../sass/components/_custom-checkbox.scss */
.custom-checkbox input[type=checkbox]:checked + label:before {
  content: " ";
  background-color: red;
  display: block;
}

/* line 1, ../sass/components/_buttons.scss */
.btn {
  background-color: #e04f2f;
  border: none;
  padding: 10px 20px;
  outline: 0;
  cursor: pointer;
  margin: 0;
  color: #FFF;
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
}
/* line 11, ../sass/components/_buttons.scss */
.btn.btn:hover {
  background-color: #BF472C;
}
/* line 19, ../sass/components/_buttons.scss */
.btn.btn:disabled {
  background-color: #f3f3f3;
  color: black;
}

/* line 4, ../sass/directives/_dialog.scss */
.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../sass/directives/_dialog.scss */
.ngdialog {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
}
/* line 14, ../sass/directives/_dialog.scss */
.ngdialog .ngdialog-content {
  z-index: 1;
  position: relative;
  width: 400px;
  -webkit-backface-visibility: hidden;
  float: right;
  text-align: left;
}
/* line 22, ../sass/directives/_dialog.scss */
.ngdialog .ngdialog-content .create-report .arrow_box:after {
  border-top-color: transparent;
  border-bottom-color: #000000;
  margin-top: -2px;
  left: 280px;
  position: relative;
}
/* line 32, ../sass/directives/_dialog.scss */
.ngdialog .ngdialog-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

/* line 3, ../sass/directives/_datepicker.scss */
.datepicker, .error {
  border-top: 5px solid #000;
  border-bottom: 5px solid #FFF;
}
/* line 7, ../sass/directives/_datepicker.scss */
.datepicker .header, .error .header {
  background-color: #ffffff;
  width: 100%;
}
/* line 10, ../sass/directives/_datepicker.scss */
.datepicker .header h1, .error .header h1 {
  color: #000000;
  font-size: 24px;
  padding: 15px 20px;
}
/* line 16, ../sass/directives/_datepicker.scss */
.datepicker .content, .error .content {
  background-color: #E2E2E2;
}
/* line 18, ../sass/directives/_datepicker.scss */
.datepicker .content h2, .error .content h2 {
  padding: 30px 0px 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #383838;
}
/* line 24, ../sass/directives/_datepicker.scss */
.datepicker .content .inputcontainer, .datepicker .content .content-inner, .error .content .inputcontainer, .error .content .content-inner {
  overflow: auto;
  padding: 15px 20px;
}
/* line 27, ../sass/directives/_datepicker.scss */
.datepicker .content .inputcontainer input, .datepicker .content .content-inner input, .error .content .inputcontainer input, .error .content .content-inner input {
  width: 100%;
  height: 40px;
  border: 0;
}
/* line 33, ../sass/directives/_datepicker.scss */
.datepicker .content .select, .error .content .select {
  width: 33.3%;
  float: left;
}
/* line 40, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner, .error .content .select-inner {
  border-bottom: 3px solid #000;
  margin: 5px;
}
/* line 44, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner.left, .error .content .select-inner.left {
  margin-left: 0px;
}
/* line 48, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner.right, .error .content .select-inner.right {
  margin-right: 0px;
}
/* line 51, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner select, .error .content .select-inner select {
  background-color: rgba(0, 0, 0, 0);
  outline: 0;
  border: 0;
  width: 90px;
  height: 35px;
  border-radius: 0px;
  padding: 00px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0px;
}
/* line 64, ../sass/directives/_datepicker.scss */
.datepicker .content .select-inner:after, .error .content .select-inner:after {
  display: inline-block;
  content: "▼";
  float: right;
  line-height: 35px;
}
/* line 72, ../sass/directives/_datepicker.scss */
.datepicker .content .btn, .error .content .btn {
  margin-top: 20px;
  float: right;
}

/* line 28, ../sass/main.scss */
body {
  background-color: #E9E9E9;
  font-family: Franklin, sans-serif;
}

/* line 33, ../sass/main.scss */
.collapsable {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  height: 7px;
  margin-bottom: -3px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}
/* line 43, ../sass/main.scss */
.collapsable .arrow_box {
  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
}

/* line 52, ../sass/main.scss */
.collapsable.showme {
  height: 75px;
  line-height: 75px;
  clear: both;
}
/* line 56, ../sass/main.scss */
.collapsable.showme .arrow_box {
  opacity: 1;
}

/* line 61, ../sass/main.scss */
h2 {
  font-size: 30px;
}

/* line 65, ../sass/main.scss */
a {
  color: #383838;
  text-decoration: none;
}

/* line 70, ../sass/main.scss */
.active {
  color: #e04f2f;
}
/* line 71, ../sass/main.scss */
.active[class*=" icon-"]:before, .active a {
  color: #e04f2f;
}
