/* line 1, ../sass/reset/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/reset/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/reset/_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/reset/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/reset/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/reset/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/reset/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/_grid.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/_grid.scss */
.grid {
  clear: both;
  margin: 0 0 0px 0;
}
/* line 11, ../sass/_grid.scss */
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

/* line 19, ../sass/_grid.scss */
[class*='col-'] {
  float: left;
  padding-right: 0px;
}
/* line 22, ../sass/_grid.scss */
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 26, ../sass/_grid.scss */
.col-7-8 {
  width: 87.5%;
}

/* line 29, ../sass/_grid.scss */
.col-5-8 {
  width: 62.5%;
}

/* line 32, ../sass/_grid.scss */
.col-3-4 {
  width: 75%;
}

/* line 35, ../sass/_grid.scss */
.col-2-3 {
  width: 66.66%;
}

/* line 38, ../sass/_grid.scss */
.col-1-3 {
  width: 33.33%;
}

/* line 41, ../sass/_grid.scss */
.col-1-2 {
  width: 50%;
}

/* line 44, ../sass/_grid.scss */
.col-1-4 {
  width: 25%;
}

/* line 47, ../sass/_grid.scss */
.col-1-8 {
  width: 12.5%;
}

/* Opt-in outside padding */
/* line 52, ../sass/_grid.scss */
.grid-pad {
  padding: 0px 0 0px 0px;
}
/* line 54, ../sass/_grid.scss */
.grid-pad [class*='col-']:last-of-type {
  padding-right: 0px;
}

/* line 1, ../sass/_loader.scss */
.spinner-backdrop {
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.71);
  width: 100%;
  height: 100%;
}
/* line 8, ../sass/_loader.scss */
.spinner-backdrop .spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  left: calc(50% - 15px);
  margin-left: -15px;
  top: calc(50% - 15px);
}
/* line 17, ../sass/_loader.scss */
.spinner-backdrop .container1 > div, .spinner-backdrop .container2 > div, .spinner-backdrop .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* line 31, ../sass/_loader.scss */
.spinner-backdrop .spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* line 37, ../sass/_loader.scss */
.spinner-backdrop .container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
/* line 42, ../sass/_loader.scss */
.spinner-backdrop .container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
/* line 47, ../sass/_loader.scss */
.spinner-backdrop .circle1 {
  top: 0;
  left: 0;
}
/* line 48, ../sass/_loader.scss */
.spinner-backdrop .circle2 {
  top: 0;
  right: 0;
}
/* line 49, ../sass/_loader.scss */
.spinner-backdrop .circle3 {
  right: 0;
  bottom: 0;
}
/* line 50, ../sass/_loader.scss */
.spinner-backdrop .circle4 {
  left: 0;
  bottom: 0;
}
/* line 52, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
/* line 57, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
/* line 62, ../sass/_loader.scss */
.spinner-backdrop .container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
/* line 67, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
/* line 72, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
/* line 77, ../sass/_loader.scss */
.spinner-backdrop .container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
/* line 82, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
/* line 87, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
/* line 92, ../sass/_loader.scss */
.spinner-backdrop .container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
/* line 97, ../sass/_loader.scss */
.spinner-backdrop .container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
/* line 102, ../sass/_loader.scss */
.spinner-backdrop .container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
/* line 1, ../sass/pages/_logs.scss */
h1 {
  color: red;
}

/* line 1, ../sass/pages/_report.scss */
.report {
  background-color: #FFF;
}
/* line 3, ../sass/pages/_report.scss */
.report .reportsubmenu {
  line-height: 50px;
  height: 50px;
  background-color: #f8f8f8;
}
/* line 9, ../sass/pages/_report.scss */
.report .listview span:first-of-type {
  border-right: 2px solid black;
}
/* line 12, ../sass/pages/_report.scss */
.report .listview span {
  border: 1px solid #E5E5E5;
}

/* line 1, ../sass/components/_topheader.scss */
.topheader {
  height: 50px;
  background-color: #383838;
}
/* line 4, ../sass/components/_topheader.scss */
.topheader h1 {
  line-height: 50px;
}

/* line 1, ../sass/components/_filterbar.scss */
.filterbar {
  width: 100%;
  background-color: #e04f2f;
  line-height: 75px;
}
/* line 5, ../sass/components/_filterbar.scss */
.filterbar ul {
  line-height: 75px;
  vertical-align: middle;
  display: inline-block;
}
/* line 9, ../sass/components/_filterbar.scss */
.filterbar ul li {
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

/* line 1, ../sass/components/_menubar.scss */
.menubar {
  width: 100%;
  background-color: #808080;
  height: 75px;
}
/* line 5, ../sass/components/_menubar.scss */
.menubar.reportmenu {
  background-color: white;
}
/* line 8, ../sass/components/_menubar.scss */
.menubar ul {
  line-height: 75px;
  vertical-align: middle;
  display: inline-block;
}
/* line 12, ../sass/components/_menubar.scss */
.menubar ul li {
  cursor: pointer;
  font-size: 30px;
  display: inline-block;
}
/* line 18, ../sass/components/_menubar.scss */
.menubar .icons {
  float: right;
  display: inline-block;
  vertical-align: middle;
}

/* line 3, ../sass/components/_list.scss */
.list .listheader {
  line-height: 50px;
  height: 50px;
  background-color: #FFF;
  border-bottom: 1px solid #2d2d2d;
}
/* line 10, ../sass/components/_list.scss */
.list .listitem {
  cursor: pointer;
  line-height: 50px;
  height: 50px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #B9B9B9;
}
/* line 16, ../sass/components/_list.scss */
.list .listitem .circ {
  margin: 10px 0px;
  width: 25px;
  height: 25px;
}
/* line 21, ../sass/components/_list.scss */
.list .listitem .circ .span {
  line-height: 25px;
}

/* line 3, ../sass/components/_icons_and_buttons.scss */
.circ {
  cursor: pointer;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  float: right;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px 0px;
}
/* line 14, ../sass/components/_icons_and_buttons.scss */
.circ span {
  line-height: 35px;
}

@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 41, ../sass/components/_modal.scss */
.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 50, ../sass/components/_modal.scss */
.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  margin-left: -400px;
}

/* line 58, ../sass/components/_modal.scss */
.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

/* line 70, ../sass/components/_modal.scss */
.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

/* line 76, ../sass/components/_modal.scss */
.ngdialog-content {
  background: white;
  position: relative;
  width: 400px;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}

/* line 85, ../sass/components/_modal.scss */
.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}

/* line 91, ../sass/components/_modal.scss */
.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}

/* line 97, ../sass/components/_modal.scss */
body.ngdialog-open {
  overflow: hidden;
}

/* line 22, ../sass/main.scss */
h2 {
  font-size: 30px;
}

/* line 26, ../sass/main.scss */
.active {
  color: red;
}

/* line 31, ../sass/main.scss */
.dialog {
  background-color: #F00;
  width: 40px;
  height: 20px;
  display: block;
  position: absolute;
  left: 50%;
  cursor: pointer;
}
