.fade-animation.ng-enter,
.fade-animation.ng-leave,
.fade-animation.ng-move {
    transition: opacity .3s ease-in-out;
    position: relative;
}

.fade-animation.ng-enter {
    opacity: 0;
}

.fade-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.fade-animation.ng-leave {
    opacity: 1;
}

.fade-animation.ng-leave.ng-leave-active {
    opacity: 0;
}
