.ng-cloak {
    display: none !important;
}

@import 'font-awesome.min';
@import 'ionicons.min';
@import 'animations';
@import 'icons';
@import 'colors';
@import 'style';
@import 'buttons';
@import 'header';
@import 'tabs';
@import 'report-content';
@import 'modal';
@import 'readonly-inputs';
@import 'user-input-view';
@import 'settings-view';
