.icon-gyldendal {
	display: inline-block;
	background-repeat: no-repeat;
}

.icon-gyldendal.kilder {
	background: url('../img/icon-kilder.png');
	background-size: 20px 20px;
	width: 20px;
	height: 20px;
}

.icon-gyldendal.trin {
	background: url('../img/icon-trin.png');
	background-size: 35px 26px;
	width: 35px;
	height: 26px;
}