.user-input-view {

	.panel-heading {
		padding: 0;

		td > button {
			margin-bottom: 20px;
		}
	}

	.table-header {
		border: 0;
		border-radius: 0;
		box-shadow: none;
		margin-bottom: 10px;

		.panel-body {
			padding: 0;
		}

		table {

			margin-bottom: 10px;

			th {
				font-weight: normal;
			}
		}
	}

	.panel-heading {
		border-bottom: 0;

		.custom-table-block {

			margin: 0;

			td {
				border-top: 0;
				vertical-align: middle !important;
			}

			.form-group {
				margin: 0;
			}

			.unit-set-input {
				width: 150px;
				margin-right: 5px;
			}

			.max-chars-input {
				width: 87px;
			}

			.dropdown-input {
				width: 323px;
			}

			.list-inline {
				margin: 0;

				li {

					padding-left: 4px;
					padding-right: 4px;

					&:first-child {
						padding-left: 0;
					}

					&:last-child {
						padding-right: 0;
					}
				}

			}


		}


	}

	table {

		table-layout: fixed;

		.column-id-1 {
			width: 4%;
			text-align: right;
		}

		.column-id-2 {
			width: 12%;
			text-align: center;
		}

		.column-id-3 {
			width: 23%;
		}

		.column-id-4 {
			width: 29%;
		}

		.column-id-5 {
			width: 10%;
		}

		.concat-column-4-5 {
			width: 39%;
		}

		.column-id-6 {
			width: 22%;
		}

		.column-id-7 {
			width: 35%;
		}

		.column-id-8 {
			padding-left: 20px;

			h5 {
				margin: 0;
			}
		}
	}

	.required-button {
		width: 60px;

		&.checkbox-btn {
			margin-left: 10px;
		}
	}

	.largetext-size-input {
		width: 65px;
	}

	// .label-input {
	// 	width: 188px;
	// }

	.input-type {
		width: 100px;
	}

	.formula-input {
		width: 170px;
		margin-right: 5px;
	}

	.unit-input {
		width: 60px;
		padding: 6px 8px;
	}

	.decimal-input {
		width: 85px;
		margin-right: 5px;
	}

	.checkbox.pull-left {
		margin-top: 8px;
		margin-bottom: 0;
		margin-left: 10px;
	}


}
