.filterbar{
  width: 100%;
  background-color: #e04f2f;
  line-height: 75px;
  padding: $base-padding;
  float:left;
  border-top: 2px solid #b33f26;
  div{
    color: white;
  }

  .datefilter{
    margin-left: -15px;
    position: absolute;
    width: 200px;
    z-index: 5;
    background-color: #FFF;
    box-shadow: 0px 0px 10px 0px #474747;
    .arrow_box:after{
      margin-right: 14px;
      margin-bottom: 10px;
      @include transform-origin(50%, 40%);
      @include transform(rotate(-180deg));
      @include transition-property(all);
      @include transition-duration(0.1s);
      @include transition-timing-function(linear);
    }
    div{
      color: $font-color-orange;
      margin-left: 15px;
    }
    ul{
      width: 215px;
      li{
        margin-left: 15px;
        line-height: 50px;
        h1{

        }
      }
    }
  }
}