@charset "UTF-8";

@font-face {
  font-family: "ilog";
  src:url("../fonts/ilog.eot");
  src:url("../fonts/ilog.eot?#iefix") format("embedded-opentype"),
      url("../fonts/ilog.woff") format("woff"),
      url("../fonts/ilog.ttf") format("truetype"),
      url("../fonts/ilog.svg#ilog") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ilog" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: top;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ilog" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  vertical-align: top;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "a";
}
.icon-bar:before {
  content: "b";
}
.icon-disc:before {
  content: "c";
}
.icon-dots:before {
  content: "d";
}
.icon-grid:before {
  content: "f";
}
.icon-line:before {
  content: "g";
}
.icon-logs:before {
  content: "h";
}
.icon-piechart:before {
  content: "i";
}
.icon-plus:before {
  content: "j";
}
.icon-reports:before {
  content: "k";
}
.icon-speech:before {
  content: "l";
}
.icon-trash-bin:before {
  content: "m";
}
.icon-question:before {
  content: "n";
}
.icon-filter:before {
  content: "e";
}
.icon-edit:before {
  content: "o";
}