
//Circle icons
.circ{
  cursor: pointer;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 35px;
  height: 35px;
  float: right;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px 0px;
  span{
    line-height: 35px;
  }
}