.list{
  width: 100%;
  float: left;
  .listheader{
    line-height: 50px;
    padding: $base-padding;
    height: 50px;
    background-color: #FFF;
    border-bottom: 1px solid #c8c8c8;
    span{
      cursor: pointer;

      &:hover{
        color: $font-color-orange;
        @include transition-property(color);
        @include transition-duration(0.2s);
      }
    }
  }

  .listitem{
    padding: $base-padding;
    cursor: pointer;
    line-height: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e2e2e2;;
    width: 100%;
    float: left;

    .date{
      font-weight: bold;
    }
    .circ{
      margin: 15px 5px;
      width: 25px;
      line-height: 20px;
      height: 25px;
      vertical-align: top;


      span{
        line-height: 20px;
        font-size: 12px;
      }

      [class^="icon-"]:before,
      [class*=" icon-"]:before {
        line-height: 22px;
        font-size: 26px;
      }
    }
  }
}