.list{
  float: left;
  .listheader{
    line-height: 50px;
    padding: $base-padding;
    height: 50px;
    background-color: #FFF;
    border-bottom: 1px solid #c8c8c8;
    span{
      cursor: pointer;

      &:hover{
        color: $font-color-orange;
        @include transition-property(color);
        @include transition-duration(0.2s);
      }
    }
  }

  .listitem{
    padding: $base-padding;
    cursor: pointer;
    line-height: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e2e2e2;;
    width: 100%;
    float: left;

    .date{
      font-weight: bold;
    }
    .circ{
      margin: 10px 5px;
      width: 25px;
      line-height: 20px;
      height: 25px;
      vertical-align: top;


      span{
        line-height: 20px;
        font-size: 12px;
        &.edit{
          background-image: url("../images/pen.png");
          background-repeat: no-repeat;
          width: 12px;
          height: 12px;
          background-size: 12px 12px;
          display: block;
          line-height: 35px;
          text-align: center;
          margin: auto;
          vertical-align: middle;
          margin-top: 4px;
        }

        &.trash{
          background-image: url("../images/trash.png");
          background-repeat: no-repeat;
          width: 12px;
          height: 15px;
          background-size: 13px 15px;
          display: block;
          line-height: 35px;
          text-align: center;
          margin: auto;
          vertical-align: middle;
          margin-top: 3px;
        }
      }

      [class^="icon-"]:before,
      [class*=" icon-"]:before {
        line-height: 22px;
        font-size: 12px;
      }
    }
  }
}