.list{

  .listheader{
    line-height: 50px;
    height: 50px;
    background-color: #FFF;
    border-bottom: 1px solid #2d2d2d;
  }

  .listitem{
    cursor: pointer;
    line-height: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #2d2d2d;
  }
}