.list{
  .listheader{
    line-height: 50px;
    padding: $base-padding;
    height: 50px;
    background-color: #FFF;
    border-bottom: 1px solid #c8c8c8;
  }

  .listitem{
    padding: $base-padding;
    cursor: pointer;
    line-height: 50px;
    height: 50px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e2e2e2;;
    width: 100%;
    float: left;
    .circ{
      margin: 10px 5px;
      width: 25px;
      height: 25px;
      span{
        line-height: 25px;
        font-size: 12px;
      }

      [class^="icon-"]:before,
      [class*=" icon-"]:before {
        line-height: 22px;

      }
    }
  }
}