.menubar{
  width: 100%;
  padding: $base-padding;
  background-color: $backgroundcolor-white;
  height: 75px;
  &.reportmenu{
    background-color: $backgroundcolor-white;
  }
  .back{
    float: left;
    color: #BFBFBF;
    border-color: #BFBFBF;
    margin: 18px 2px;
    [class*=" icon-"]:before{
      font-size: 38px;
      vertical-align: top;
      margin: 0;
    }

  }
  ul{
    line-height: 70px;
    vertical-align: middle;
    display: inline-block;
    li{
      cursor: pointer;
      font-size: 30px;
      display: inline-block;
      vertical-align: top;
      &.divider{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    [class^="icon-"]:before, [class*=" icon-"]:before{
      margin: 0 10px 0 0px;
      font-size: 20px;
      vertical-align: middle;
    }
  }
  .icons{
    height: 75px;
    float: right;
    display: inline-block;
    vertical-align: middle;

  }

  .circ{
    margin-right: 12px;
    &:last-of-type{
      margin-right: 0px;
    }
  }
}