.menubar{
  width: 100%;
  background-color: #808080;
  height: 75px;
  ul{
    line-height: 75px;
    vertical-align: middle;
    display: inline-block;
    li{
      cursor: pointer;
      font-size: 30px;
      display: inline-block;
    }
  }
  .icons{
    float: right;
    display: inline-block;
    vertical-align: middle;
    .circ{
      cursor: pointer;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      width: 50px;
      height: 50px;
      float: left;
      border: 2px solid black;
      border-radius: 50%;
      margin: 12.5px 0;
      span{
        line-height: 50px;
        font-size: 140%;
      }
    }
  }
}