.menubar{
  width: 100%;
  background-color: #808080;
  height: 75px;
  &.reportmenu{
    background-color: white;
  }
  ul{
    line-height: 75px;
    vertical-align: middle;
    display: inline-block;
    li{
      cursor: pointer;
      font-size: 30px;
      display: inline-block;
    }
  }
  .icons{
    float: right;
    display: inline-block;
    vertical-align: middle;
  }
}