<div class="menubar reportmenu">
    <div class="grid">
        <div class="col-3-4">
            <ul>
                <li>
                    <a href="#/rapporter">
                    <span class="back circ">
                        <span class="icon icon-arrow">
                        </span>
                    </span>
                </span>
                </a>
            </li>
            <li>
                <a href="#/rapporter">
                    {{ReportMenubar.currentReport.title}}
                </a>
            </li>
            <li class="report-interval"> ({{ReportMenubar.currentReport.content.from | date:'dd-MM-yyyy'}} til {{ReportMenubar.currentReport.content.to | date:'dd-MM-yyyy'}})</li>
        </ul>
    </div>
    <div class="icons col-1-4">
        <div class="float-right">
            {{ ReportMenubar.shared }}
            {{ReportMenubar.dialogueID}}
            <div id="dialoguePaneToggler" class="circ" ng-click="ReportMenubar.dialoguePane.open()" ng-show="ReportMenubar.dialoguePane.isAvailable()">
                <span ng-class="{active: ReportMenubar.dialoguePane.isOpen}" class="icon icon-speech"></span>
            </div>
            <div class="circ" >
                <span class="icon icon-trash-bin"></span>
            </div>
            <div class="circ" ng-click="ReportMenubar.toggleShare()">
             <span ng-class="{active: Share}" class="icon icon-share"></span>
            </div>
        </div>
    </div>
    </div>
    <div ng-show="Share" class="ngdialog">
        <div class="ngdialog-content third">
            <span class="arrow_box"></span>
            <div  class="share grid">
                <div class="header">
                    <ul>
                        <li class="icon icon-share-nocirkel" ng-class="{active: ReportMenubar.exportPanel.isTabActive('share')}" ng-click="ReportMenubar.exportPanel.openTab('share')">Del med lærer</li>
                        <li class="icon icon-download" ng-class="{active: ReportMenubar.exportPanel.isTabActive('pdf')}" ng-click="ReportMenubar.exportPanel.openTab('pdf')">PDF</li>
                        <li class="icon icon-download" ng-class="{active: ReportMenubar.exportPanel.isTabActive('csv')}" ng-show="ReportMenubar.exportPanel.isTabAvailable('csv')" ng-click="ReportMenubar.exportPanel.openTab('csv')">CSV</li>
                    </ul>
                </div>

                <div class="content" ng-show="ReportMenubar.exportPanel.isTabActive('share')" style="overflow:hidden;">
                    <div ng-hide="ReportMenubar.exportPanel.isShared()">
                        <textarea ng-model="shareForm.shareMessage" onfocus="if (this.value === 'Eventuel besked...') { this.value = ''; this.style.color = '#484848'; }" onblur="if (!this.value) { this.style.color = '#999'; this.value = 'Eventuel besked...'; }" style="color:#999; border: 0px; width: 365px; box-sizing: border-box; padding: 10px; height: 90px; max-width: 100%; min-width: 100%; max-height: 150px; margin: 0px; background: rgb(255, 255, 255); font: 14px/1.25em helvetica, arial, sans-serif; outline: 0;"></textarea>
                        <button class="btn" style="margin-bottom:0; margin-top:12px;" ng-click="ReportMenubar.exportPanel.shareWithTeacher()">Del</button>
                    </div>
                    <div ng-show="ReportMenubar.exportPanel.isShared()" style="font-size:14px; line-height:1.25em;">
                        Rapporten er delt med din lærer.
                    </div>
                </div>

                <div class="content" ng-show="ReportMenubar.exportPanel.isTabActive('pdf')" style="overflow:hidden; font-size:14px; line-height:1.25em;">
                    Genereringen af PDF til download kan tage flere sekunder.
                    Vær opmærksom på, at den downloadede PDF-fil ikke kan redigeres.<br>

                    <button class="btn" style="margin-bottom:0; margin-top:10px;" ng-click="ReportMenubar.exportPanel.downloadAsPDF()">Download som PDF</button>
                </div>

                <div class="content" ng-show="ReportMenubar.exportPanel.isTabActive('csv')" style="overflow:hidden; font-size:14px; line-height:1.25em;">
                    <button class="btn" style="margin-bottom:0; margin-top:0;" ng-click="ReportMenubar.exportPanel.downloadAsCSV()">Download som CSV</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="Share" ng-click="ReportMenubar.toggleShare()" class="report-overlay"></div>
</div>
