.datepicker{

  select{
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    border: 0;
    border-bottom: 3px solid #000;
    border-radius: 0px;
    padding-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 10px;


  }

  select:after{
    display: inline-block;
    content: "&#9650";
  }
}