.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ngdialog {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  .ngdialog-content {
    z-index: 1;
    background: white;
    position: relative;
    width: 400px;
    -webkit-backface-visibility: hidden;
    text-align: left;
  }
  .ngdialog-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0.5s;
    animation: ngdialog-fadein 0.5s;
  }
}

