.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ngdialog {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  .ngdialog-content {
    z-index: 1;
    position: relative;
    width: 400px;
    -webkit-backface-visibility: hidden;
    float: right;
    text-align: left;
    .create-report{
      .arrow_box:after{
        border-top-color: transparent;
        border-bottom-color: #000000;
        margin-top: -2px;
        left: 255px;
        position: relative;
      }
    }

  }
  .ngdialog-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0.5s;
    animation: ngdialog-fadein 0.5s;
  }
}

