@import "compass";

@import "reset/reset";
@import "grid";
@import "loader";
@import "components/variables";
@import "components/fonts";
@import "components/helpers";

//pages
@import "pages/logs";
@import "pages/report";

//components
@import "components/topheader";
@import "components/filterbar";
@import "components/menubar";
@import "components/list";
@import "components/circle-icons";

@import "directives/dialog";
@import "directives/datepicker";

body{
  height: 1000px;
}

.collapsable {
  display: inline-block;
  overflow: hidden;
  height: 0;
  transition: height 1s;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
}
.collapsable.showme {
  height: 75px;
}


h2{
  font-size: 30px;
}

a {
  color: $font-color-dark;
  text-decoration: none;
}

.active{
  &[class*=" icon-"]:before, a{
    color: $font-color-orange;
  }
  color: $font-color-orange;
}
//
//.dialog{
//  background-color: #F00;
//  width: 40px;
//  height: 20px;
//  display: block;
//  position: absolute;
//  left: 11150%;
//  cursor: pointer;
//}