@import "compass";

@import "reset/reset";
@import "grid";
@import "loader";

//pages
@import "pages/logs";
@import "pages/report";

//components
@import "components/topheader";
@import "components/filterbar";
@import "components/menubar";
@import "components/list";
@import "components/icons_and_buttons";


@import "directives/datepicker";

body{
}

h2{
  font-size: 30px;
}

.active{
  color: red;
}


.dialog{
  background-color: #F00;
  width: 40px;
  height: 20px;
  display: block;
  position: absolute;
  left: 50%;
  cursor: pointer;
}