@import "compass";

@import "reset/reset";
@import "grid";
@import "loader";
@import "components/variables";
@import "components/fonts";
@import "components/helpers";

//pages<<<
@import "pages/logs";
@import "pages/report";

//components
@import "components/topheader";
@import "components/filterbar";
@import "components/menubar";
@import "components/list";
@import "components/circle-icons";

@import "directives/dialog";
@import "directives/datepicker";

body{

}

h2{
  font-size: 30px;
}

a {
  color: $font-color-dark;
  text-decoration: none;
}

.active{
  &[class*=" icon-"]:before, a{
    color: $font-color-orange;
  }
}
//
//.dialog{
//  background-color: #F00;
//  width: 40px;
//  height: 20px;
//  display: block;
//  position: absolute;
//  left: 11150%;
//  cursor: pointer;
//}