@import "compass";


@import "reset/reset";
@import "grid";
@import "loader";

//pages
@import "pages/logs";

//components
@import "components/topheader";
@import "components/filterbar";
@import "components/menubar";
@import "components/list";

body{

  background-color: #f5f5f5;
}

h2{
font-size: 30px;
}