h1{
  color: red;
}

.log-content{
  box-shadow: 0px 2px 6px black;
  position: absolute;
  overflow: auto;
  width: 100%;
  height: calc(100% - 130px);
  height: 80% \9;
  background-color: #E9E9E9;
  padding: 40px;

  form{

  }
  .no-padding{
    padding-bottom: 0;
  }
  label{
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-bottom: 15px;
  }

  .input-field{
    padding-bottom: 25px;

    &:last-child {
    padding-bottom: 0;
    }
  }

  textarea {
    font-size: 18px;
    padding: 20px;
  }

  input{
    border: 0;
    outline: 0;
    height: 37px;
    padding: 0 0px 0 10px;
    margin-right: 5px;
    font-size: 18px;
  }

  .dropdown{
    width: 320px;
    border-bottom: 3px solid #000;

    select{
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0);
      outline: 0;
      border: 0;
      width: 300px;
      height: 35px;
      border-radius: 0;
      padding: 00px;
      -webkit-appearance: none;
      -moz-appearance: none;
      margin: 0;

    }


    &:after{
      display: inline-block;
      content: "▼";
      float: right;
      line-height: 35px;
    }
  }

  .dropdown-time {

    .select-inner {
      border-bottom: 3px solid #000;
      width: 150px;
      float: left;
      margin: 5px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      select {
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0);
        outline: 0;
        border: 0;
        width: 130px;
        height: 35px;
        border-radius: 0px;
        padding: 00px;
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0px;
      }

      &:after {
        display: inline-block;
        content: "▼";
        float: right;
        line-height: 35px;
      }


    }

    &:after {

      display: block;
      content: '';
      clear: both;
    }

  }

}