h1{
  color: red;
}

.log-content{
  box-shadow: 0px 2px 6px black;
  position: absolute;
  overflow: auto;
  width: 100%;
  height: calc(100% - 130px);
  height: 80% \9;
  background-color: #E9E9E9;
  padding: 40px;

  form{

  }
  .no-padding{
    padding-bottom: 0;
  }
  label{
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding-bottom: 15px;
  }

  .input-field{
    padding-bottom: 25px;

    &:last-child {
    padding-bottom: 0;
    }
  }

  textarea {
    border: none;
    font-size: 18px;
    padding: 20px;
  }

  input{
    border: 0;
    outline: 0;
    height: 37px;
    padding: 0 0px 0 10px;
    margin-right: 5px;
    font-size: 18px;
  }

  .dropdown{
    width: 320px;
   // border-bottom: 3px solid #000;
    .select-inner {
      border-bottom: none;
    }
    select{
      font-size: 18px;
      background-color: rgba(0, 0, 0, 0);
      outline: 0;
      border: 0;
      width: 300px;
      height: 35px;
      border-radius: 0;
      padding: 00px;
      -webkit-appearance: none;
      -moz-appearance: none;
      margin: 0;

    }
    .dropdown_header {
      border-bottom: 3px solid #383838;
      font-size: 18px;
      line-height: 37px;
      color: #383838;

      &.active{
        background-color: #ffffff;
        color: #383838;
      }
    }


    .dropdown_content {
      color: #383838;
      width: 340px;
      padding-top: 45px;
      max-height: 300px;
      overflow: auto;

      label{
        font-weight: 100;
        font-size: 18px;
        padding-bottom: 0;
      }
      label:hover{
        color: $font-color-orange;
      }
      label.active{
        color: $font-color-orange;
      }
    }

  }

  .dropdown-time {

    .measure{
      display: inline-block;
      line-height: 37px;
      float: left;
      margin: 10px 20px 10px 10px;
    }
    .select-inner {
      border-bottom: none;
      width: 150px;
      float: left;
      margin: 5px;

      &:first-of-type {
        margin-left: 0;
      }

      &:last-of-type {
        margin-right: 0;
      }

      .dropdown_header {
        border-bottom: 3px solid #383838;
        font-size: 18px;
        color: #383838;
        line-height: 37px;

        &.active{
          background-color: #ffffff;
          color: #383838;
        }
      }

      &.active{
        background-color: #ffffff;
        color: #383838;
      }

      .dropdown_content {
        color: #383838;
        width: 175px;
        padding-top: 45px;
        max-height: 300px;
        overflow: auto;

        label{
          font-weight: 100;
          font-size: 18px;
          padding-bottom: 0;
        }

        label.active{
          color: $font-color-orange;
        }
      }

      select {
        font-size: 18px;
        background-color: rgba(0, 0, 0, 0);
        outline: 0;
        border: 0;
        width: 130px;
        height: 35px;
        border-radius: 0px;
        padding: 00px;
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0px;
      }
    }

    &:after {

      display: block;
      content: '';
      clear: both;
    }

  }
  .log-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 000;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0.5s;
    animation: ngdialog-fadein 0.5s;
  }
}