.report{
  background-color: #FFF;
  .reportsubmenu{
    line-height: 50px;
    height: 50px;
    background-color: #f8f8f8;
  }
  .listview{
    span:first-of-type{
      border-right: 2px solid black;
    }
    span {
      border: 1px solid #E5E5E5;
    }
  }

/*  path {
    stroke: grey;
    stroke-width: 5;
    fill: none;
  }*/

  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    //shape-rendering: crispEdges;

  }
}
