.report{
  background-color: #FFF;
  .reportsubmenu{
    padding: $base-padding;
    line-height: 50px;
    height: 50px;
    background-color: #f8f8f8;

    .col-1-8{
      cursor: pointer;
      .icon{
        &:before{
          vertical-align: middle;
          margin: 0 5px 0 0px;
          font-size: 20px;
        }
      }
    }
  }
  .listview{
    span:first-of-type{
      border-right: 2px solid black;
    }
    span {
      text-align: center;
      text-transform: capitalize;
      border: 1px solid #E5E5E5;
      min-height: 40px;
      line-height: 40px;
      box-sizing: content-box;
    }
  }

  .list-content{
    span.first{
      color: #bfbfbf;
      text-align: right;
      padding-right: 10px;
      margin-left: -10px;
    }
  }

  .list-head{
    span{
      border-bottom: 2px solid #000;
      font-weight: bold;
    }
  }
  .chart-calc{
    padding: 0 40px;

    .chart-calc-element{
      padding-top: 30px;

      :first-child{
        font-size: 18px;
        padding-bottom: 10px;
      }
      :last-child{
        font-size: 36px;
      }
    }
  }


  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 2;
    //shape-rendering: crispEdges;

  }

  .legend {
    padding-top: 91px;

    .legend-head {
      font-size: 36px;
    }
    .legend-text  {
      font-size: 24px;
    }
    .legend-percent {
      font-size: 24px;
      font-weight: bold;
    }
  }
}
