<div class="log">

  <div ng-controller="LogMenubarCtrl as LogMenubar" class="menubar" ng-include="'scripts/templates/logmenubar.html'"></div>

  <div class="log-content" back-img="{{Log.backgroundImg}}">

    <form>
      <div class="input-field" ng-repeat="input in Log.inputs" ng-switch on="input.type">
        <div ng-switch-when="text">
          <label for="log-input-{{input.id}}" ng-class="{'no-padding': input.label===''}">{{input.label}}</label>
          <input id="log-input-{{input.id}}" type="text" required="{{input.required}}" ng-model="input.value">{{input.unit}}
        </div>

        <div ng-switch-when="number">
          <label for="log-input-{{input.id}}" ng-class="{'no-padding': input.label===''}">{{input.label}}</label>
          <input  type="number" required="{{input.required}}" ng-model="input.value">{{input.unit}}
        </div>

        <div class="custom-checkbox" ng-switch-when="checkbox">
          <input id="log-input-{{input.id}}" type="checkbox" ng-model="input.value">
          <label for="log-input-{{input.id}}" ng-class="{'no-padding': input.label===''}">{{input.label}}</label>
        </div>

        <div class="dropdown" ng-switch-when="dropdown">
          <label for="log-input-{{input.id}}" ng-class="{'no-padding': input.label===''}">{{input.label}}</label>
          <div class="select">
            <div class="select-inner">
              <div ng-class="{active : Log.dropDown == input.id}" class="dropdown_header" ng-click="Log.dropDown = input.id">{{input.value || "Vælg fra liste"}}</div>
              <div ng-if="Log.dropDown == input.id" ng-class="{dropdown_content : Log.dropDown == input.id}" class="animate col-1-8">
                <ul>
                  <li>
                    <div class="custom-radio" ng-repeat="option in input.options" >
                      <input id="log-checkfrom-{{input.id}}{{$index}}" type="radio" name="check" value="log-checkfrom-{{input.id}}{{$index}}" ng-checked="input.value == option">
                      <label for="log-checkfrom-{{input.id}}{{$index}}" ng-click="input.value = input.options[$index]; Log.dropDown = ''">{{option}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-show="Log.dropDown == input.id" ng-click="Log.dropDown =''" class="log-overlay"></div>
            </div>
          </div>
        </div>

        <div ng-switch-when="largetext">
          <label for="log-input-{{input.id}}" ng-class="{'no-padding': input.label===''}">{{input.label}}</label>
          <textarea id="log-input-{{input.id}}" required="{{input.required}}" ng-model="input.value" style="height: {{input.height}}px; width: {{input.width}}px;">
            height: {{input.height}}
            width: {{input.width}}
          </textarea>
        </div>

        <div ng-switch-when="data">
          <label for="log-input-{{input.id}}" ng-class="{'no-padding': input.label===''}">{{input.label}}</label>
          <input id="log-input-{{input.id}}" class="data" ng-model="input.value" >
        </div>

        <div ng-switch-when="formula">
          <label for="log-input-{{input.id}}" ng-class="{'no-padding': input.label===''}">{{input.label}}</label>
          <input type="text" id="log-input-{{input.id}}" class="formula" value="{{Log.parseFormula(input,$index)}}" ng-model="input.value" readonly>{{input.unit}}
        </div>

        <div class="dropdown-time" ng-switch-when="time"  >
          <label for="log-input-{{input.id}}" ng-class="{'no-padding': input.label===''}">{{input.label}}</label>

          <div class="dropdown-hour" ng-show="{{input.data.search('hh') != -1}}">
            <div class="select-inner" >
              <div ng-class="{active : Log.dropDown == input.id}" class="dropdown_header" ng-click="Log.dropDown = input.id" ><span ng-show="input.hh === 0">0</span><span ng-show="input.hh !== 0">{{input.hh|| "Timer"}}</span></div>
              <div ng-if="Log.dropDown == input.id" ng-class="{dropdown_content : Log.dropDown == input.id}" class="animate col-1-8">
                <ul>
                  <li>
                    <div class="custom-radio" ng-repeat="hour in Log.hours" >
                      <input id="log-checkfrom-{{input.id}}{{$index}}" type="radio" name="check" value="log-checkfrom-{{input.id}}{{$index}}" ng-checked="input.hh == hour">
                      <label for="log-checkfrom-{{input.id}}{{$index}}" ng-click="input.hh = Log.hours[$index]; input.value = Log.calcTimeVal(input); Log.dropDown = ''">{{hour}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-show="Log.dropDown == input.id" ng-click="Log.dropDown =''" class="log-overlay"></div>
            </div>
            <span class="measure">t.</span>
          </div>

          <div class="dropdown-minute" ng-show="{{input.data.search('mm') != -1}}">
            <div class="select-inner minut" >
              <div ng-class="{active : Log.dropDown == input.id+'minute'}" class="dropdown_header" ng-click="Log.dropDown = input.id+'minute'" ><span ng-show="input.mm === 0">0</span><span ng-show="input.mm !== 0">{{input.mm || "Minutter"}}</span></div>
              <div ng-if="Log.dropDown == input.id+'minute'" ng-class="{dropdown_content : Log.dropDown == input.id+'minute'}" class="animate col-1-8">
                <ul>
                  <li>
                    <div class="custom-radio" ng-repeat="minute in Log.minutes" >
                      <input id="log-checkfrom-{{input.id+'minute'}}{{$index}}" type="radio" name="check" value="log-checkfrom-{{input.id+'minute'}}{{$index}}" ng-checked="input.mm == minute">
                      <label for="log-checkfrom-{{input.id+'minute'}}{{$index}}" ng-click="input.mm = Log.minutes[$index]; input.value = Log.calcTimeVal(input); Log.dropDown = ''">{{minute}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-show="Log.dropDown == input.id+'minute'" ng-click="Log.dropDown =''" class="log-overlay"></div>
            </div>
            <span class="measure">min.</span>
          </div>

          <div class="dropdown-second" ng-show="{{input.data.search('ss') != -1}}">
            <div class="select-inner second" >
              <div ng-class="{active : Log.dropdown == input.id+'second'}" class="dropdown_header" ng-click="Log.dropdown = input.id+'second'" ><span ng-show="input.ss === 0">0</span><span ng-show="input.ss !== 0">{{input.ss|| "Sekunder"}}</span></div>
              <div ng-if="Log.dropdown == input.id+'second'" ng-class="{dropdown_content : Log.dropdown == input.id+'second'}" class="animate col-1-8">
                <ul>
                  <li>
                    <div class="custom-radio" ng-repeat="second in Log.seconds" >
                      <input id="log-checkfrom-{{input.id+'second'}}{{$index}}" type="radio" name="check" value="log-checkfrom-{{input.id+'second'}}{{$index}}" ng-checked="input.ss == second">
                      <label for="log-checkfrom-{{input.id+'second'}}{{$index}}" ng-click="input.ss = Log.seconds[$index]; input.value = Log.calcTimeVal(input); Log.dropdown = ''">{{second}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-show="Log.dropdown == input.id+'second'" ng-click="Log.dropdown =''" class="log-overlay"></div>
            </div>
            <span class="measure">sek.</span>
          </div>

          <div class="dropdown-centi" ng-show="{{input.data.search('cscs') != -1}}">
            <div class="select-inner ceti" >
              <div ng-class="{active : Log.dropdown == input.id+'ceti'}" class="dropdown_header" ng-click="Log.dropdown = input.id+'ceti'" ><span ng-show="input.cscs === 0">0</span><span ng-show="input.cscs !== 0">{{input.cscs|| "Centisekunder"}}</span></div>
              <div ng-if="Log.dropdown == input.id+'ceti'" ng-class="{dropdown_content : Log.dropdown == input.id+'ceti'}" class="animate col-1-8">
                <ul>
                  <li>
                    <div class="custom-radio" ng-repeat="ceti in Log.centiseconds" >
                      <input id="log-checkfrom-{{input.id+'ceti'}}{{$index}}" type="radio" name="check" value="log-checkfrom-{{input.id+'ceti'}}{{$index}}" ng-checked="input.cscs == ceti">
                      <label for="log-checkfrom-{{input.id+'ceti'}}{{$index}}" ng-click="input.cscs = Log.centiseconds[$index]; input.value = Log.calcTimeVal(input); Log.dropdown = ''">{{ceti}}</label>
                    </div>
                  </li>
                </ul>
              </div>
              <div ng-show="Log.dropdown == input.id+'ceti'" ng-click="Log.dropdown =''" class="log-overlay"></div>
            </div>
            <span class="measure">cs.</span>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
