<div ng-controller="MenubarCtrl as Menubar" class="menubar" ng-include="'scripts/templates/menubar.html'"></div>

<div ng-controller="FilterbarCtrl as Filterbar" class="filterbar collapsable"  scroll ng-class="{'showme': $root.filter}" ng-include="'scripts/templates/filterbar.html'"></div>

  <div class="list">
    <div class="listheader">
      <div class="col-1-8">
        <span>Dato</span>
      </div>
      <div class="col-1-8">
        <span>Titel</span>
      </div>
      <div class="col-3-4">
        <span></span>
      </div>
    </div>

    <!--item in logs-->
    <div class="listitem" ng-repeat="log in LogsOverview.logs">
        <span class="col-1-8">
          <span class="date">{{log.timestamp | date:'dd-MM-yyyy'}}</span>
        </span>
        <span class="col-5-8">
          <span class="date">EnLog har ingen titel... Hvad skal loades her??</span>
        </span>
        <span class="col-1-8">
          <span class="shared">-</span>
        </span>
        <span class="col-1-8">
          <div class="float-right">
            <a ng-href="#/log/{{log.id}}">
              <span class="circ">
                <span class="icon icon-edit"></span>
              </span>
            </a>
            <span class="circ" ng-click="LogsOverview.delete($event)">
              <span class="icon icon-trash-bin"></span>
            </span>
          </div>
        </span>
    </div>
</div>