<div class="topheader">
  <h1>Gyldendal Ilog</h1>
</div>

<div ng-controller="MenubarCtrl as Menubar" class="menubar" ng-include="'scripts/templates/menubar.html'"></div>

<div ng-controller="FilterbarCtrl as Filterbar" class="filterbar" ng-include="'scripts/templates/filterbar.html'"></div>

<div class="listheader">
  <div class="col-1-8">
    <span>Fra dato</span>
  </div>
  <div class="col-1-8">
    <span>fra dato</span>
  </div>
  <div class="col-1-2">
    <span>titel</span>
  </div>
  <div class="col-1-4">
    <span>delt</span>
  </div>
</div>

<div class="list">
  <div class="col-1-8">
    <span class="date">08-09-2014</span>
  </div>
  <div class="col-1-8">
    <span class="date">08-09-2014</span>
  </div>
  <div class="col-1-2">
    <span class="date">Titel på rapporten</span>
  </div>
  <div class="col-1-8">
    <span class="shared">ja</span>
  </div>
  <div class="col-1-8">
    <span class="shared">icons here</span>
  </div>
  <p>{{LogsOverview.testVar | uppercase}}</p>
</div>