<div class="report">
  <div ng-controller="ReportMenubarCtrl as ReportMenubar" class="reportmenu" ng-include="'scripts/templates/reportmenubar.html'"></div>
  <div class="grid reportsubmenu" ng-init="Report.pane = 'list'">
    <div ng-class="{active : Report.pane == 'pie'}" ng-click="Report.pane = 'pie'" class="col-1-8" ng-show="Rapport.dataDiagram[0].views.piechart" >
      <span class="icon icon-piechart"></span>
      <span>Pie</span>
    </div>
    <div ng-class="{active : Report.pane == 'bar'}" ng-click="Report.pane = 'bar'" class="col-1-8" ng-show="Rapport.dataDiagram[0].views.barchart">
      <span class="icon icon-bar"></span>
      <span > Bar</span>
    </div>
    <div ng-class="{active : Report.pane == 'list'}" ng-click="Report.pane = 'list'" class="col-1-8" ng-show="Rapport.dataList[0]">
      <span class="icon icon-grid"></span>
      <span>List</span>
    </div>
    <div ng-class="{active : Report.pane == 'graph-line'}" ng-click="Report.pane = 'graph-line'" class="col-1-8" ng-show="!Rapport.dataGraph[0].views.connectedGraph"> <!-- ng-show is negated for debugging. should be: ng-show="!Rapport.dataGraph[0].views.connectedGraph" -->
      <span class="icon icon-line"></span>
      <span>Forbundet graf</span>
    </div>
    <div ng-class="{active : Report.pane == 'graph-dotted'}" ng-click="Report.pane = 'graph-dotted'" class="col-1-8" ng-show="Rapport.dataGraph[0].views.scatterPlot">
      <span class="icon icon-dots"></span>
      <span >Punktgraf</span>
    </div>
  </div>

  <div class="report-content" ng-if="Report.pane == 'pie'">
    <d3-chart data="Rapport.chartdata" type="pie"></d3-chart>
    <div class="chart-calc" ng-show = "Rapport.dummy[1].chart.calculations || !Rapport.dummy[1].chart.calculations.length">
      <h2>Beregninger</h2>
      <div class="chart-calc-element" ng-repeat="calculation in Rapport.dummy[1].chart.calculations"> <!-- Rapport.dummy for testing should be changed to Rapport.dataDiagram -->
        <div>{{calculation.label}}</div>
        <div>{{Rapport.chartFormula(calculation, Rapport.logs)}} {{calculation.unit}}</div>
      </div>
    </div>
  </div>

  <div class="report-content" ng-if="Report.pane == 'bar'">
    <d3-chart data="Rapport.chartdata" type="bar"></d3-chart>
    <div class="chart-calc" ng-show = "Rapport.dummy[1].chart.calculations || !Rapport.dummy[1].chart.calculations.length">
      <h2>Beregninger</h2>
      <div class="chart-calc-element" ng-repeat="calculation in Rapport.dummy[1].chart.calculations"> <!-- Rapport.dummy for testing should be changed to Rapport.dataDiagram -->
        <div>{{calculation.label}}</div>
        <div>{{Rapport.chartFormula(calculation, Rapport.logs)}} {{calculation.unit}}</div>
      </div>
    </div>
  </div>

  <div class="listview report-content" ng-if="Report.pane == 'list'">
    <div class="grid list-head" >
      <span class="col-1-4 first"></span>
      <span class="col-1-8" ng-repeat="column in Rapport.dataList[0].columns">{{column.label}}</span>
    </div>

    <div class="grid list-content" ng-repeat="ilog in Rapport.logs track by $index">
      <span class="col-1-4 first">{{$index+1}}</span>
      <span class="col-1-8" ng-repeat="column in Rapport.dataList[0].columns">
        {{ilog.data[column.inputID]}}
      </span>
    </div>

    <div class="grid list-content active" ng-repeat="calculation in Rapport.dataList[0].calculations">
      <span class="col-1-4 calc">{{calculation.label}}</span>
      <span class="col-1-8" ng-repeat="column in Rapport.dataList[0].columns">
        {{Rapport.listFormula(calculation, column)}}
      </span>
    </div>

    <div class="grid list-content" >
      <span class="col-1-4"></span>
      <span class="col-1-8" ng-repeat="column in Rapport.dataList[0].columns">

      </span>
    </div>

  </div>

  <div class="report-content" ng-if="Report.pane == 'graph-dotted'">
    <d3-chart data="Rapport.linedata" type="dot"></d3-chart>
    <div class="chart-calc" ng-show = "Rapport.dummy[1].chart.calculations || !Rapport.dummy[1].chart.calculations.length">
      <h2>Beregninger</h2>
      <div class="chart-calc-element" ng-repeat="calculation in Rapport.dummy[2].chart.calculations"> <!-- Rapport.dummy for testing should be changed to Rapport.dataGrap -->
        <p>{{calculation.label}}</p>
        <h2>{{Rapport.chartFormula(calculation, Rapport.logs)}} {{calculation.unit}}</h2>
      </div>
    </div>
  </div>

  <div class="report-content" ng-if="Report.pane == 'graph-line'">
    <d3-chart data="Rapport.linedata" type="line"></d3-chart>
    <div class="chart-calc" ng-show = "Rapport.dummy[1].chart.calculations || !Rapport.dummy[1].chart.calculations.length">
      <h2>Beregninger</h2>
      <div class="chart-calc-element" ng-repeat="calculation in Rapport.dummy[2].chart.calculations"> <!-- Rapport.dummy for testing should be changed to Rapport.dataGrap -->
        <div>{{calculation.label}}</div>
        <div>{{Rapport.chartFormula(calculation, Rapport.logs)}} {{calculation.unit}}</div>
      </div>
    </div>
  </div>
</div>