<div class="report">
  <div ng-controller="ReportMenubarCtrl as ReportMenubar" class="menubar reportmenu" ng-include="'scripts/templates/reportmenubar.html'"></div>

  <div class="grid reportsubmenu" ng-init="Report.pane = 'list'">
    <div class="col-1-8">
      <span ng-click="Report.pane = 'pie'">Pie</span>
    </div>
    <div class="col-1-8">
      <span ng-click="Report.pane = 'bar'"> Bar</span>
    </div>
    <div class="col-1-8">
      <span ng-click="Report.pane = 'list'">List</span>
    </div>
    <div class="col-1-8">
      <span ng-click="Report.pane = 'graph-dotted'">graph dotted</span>
    </div>
    <div class="col-1-8">
      <span ng-click="Report.pane = 'graph-line'">linie</span>
    </div>
  </div>

  <div ng-if="Report.pane == 'pie'">
    <p>Pie view</p>
    <d3-chart data="Rapport.piedata" type="pie"></d3-chart>
  </div>

  <div ng-if="Report.pane == 'bar'">
    <p>Bar view</p>
    <d3-chart data="Rapport.data" type="bar"></d3-chart>
  </div>

  <div class="listview" ng-if="Report.pane == 'list'">
    <!--if directive is of type list, the directive only clears the svg-->
    <!--<d3-chart type="list"></d3-chart>-->

    <!-- List view Header-->
    <div class="grid list-head" >
      <span class="col-1-4 first"></span>
      <span class="col-1-8" ng-repeat="column in Rapport.listdata[0].columns">{{column.label}}</span>
    </div>

    <div class="grid list-content" ng-repeat="ilog in Rapport.dummylogs track by $index">
      <span class="col-1-4 first">{{$index+1}}</span>
      <span class="col-1-8" ng-repeat="column in Rapport.listdata[0].columns">
        {{ilog.data[column.inputID]}}
      </span>
    </div>

    <div class="grid list.calculations" ng-repeat="calculation in Rapport.listdata[0].calculations">
      <span class="col-1-4">{{calculation.label}}</span>
      <span class="col-1-8" ng-repeat="column in Rapport.listdata[0].columns">
        {{calculation.formula}} in {{calculation.unit}}
      </span>
    </div>

  </div>

  <div ng-if="Report.pane == 'graph-dotted'">
    <p>Grpah dotted view</p>
    <d3-chart data="Rapport.linedata" type="dot"></d3-chart>

  </div>

  <div ng-if="Report.pane == 'graph-line'">
    <p>Graph line view</p>
    <d3-chart data="Rapport.linedata" type="line"></d3-chart>
  </div>

  <div class="grid">
    <h2>Beregninger</h2>
  </div>
</div>