<div class="report">
  <div ng-controller="ReportMenubarCtrl as ReportMenubar" class="reportmenu" ng-include="'scripts/templates/reportmenubar.html'"></div>
  <div class="grid reportsubmenu" >
    <div ng-class="{active : Rapport.pane == 'pie'}" ng-click="Rapport.pane = 'pie'" class="report-type" ng-show="Rapport.dataDiagram[0].views.piechart" >
      <span class="icon icon-piechart"></span>
      <span>{{Rapport.dataDiagram[0].title}}</span>
    </div>
    <div ng-class="{active : Rapport.pane == 'bar'}" ng-click="Rapport.pane = 'bar'" class="report-type" ng-show="Rapport.dataDiagram[0].views.barchart">
      <span class="icon icon-bar"></span>
      <span>{{Rapport.dataDiagram[0].title}}</span>
    </div>
    <div ng-class="{active : Rapport.pane == 'list'}" ng-click="Rapport.pane = 'list'" class="report-type" ng-show="Rapport.dataList[0]">
      <span class="icon icon-grid"></span>
      <span>{{Rapport.dataList[0].title}}</span>
    </div>
    <div ng-class="{active : Rapport.pane == 'graph-line'}" ng-click="Rapport.pane = 'graph-line'" class="report-type" ng-show="Rapport.dataGraph[0].views.connectedGraph"> <!-- ng-show is negated for debugging. should be: ng-show="!Rapport.dataGraph[0].views.connectedGraph" -->
      <span class="icon icon-line"></span>
      <span>Forbundet graf</span>
    </div>
    <div ng-class="{active : Rapport.pane == 'graph-dotted'}" ng-click="Rapport.pane = 'graph-dotted'" class="report-type" ng-show="Rapport.dataGraph[0].views.scatterPlot">
      <span class="icon icon-dots"></span>
      <span >Punktgraf</span>
    </div>
  </div>

  <div class="report-content" ng-if="Rapport.pane == 'pie'">
    <div class='d3container'></div>
    <d3-chart data="Rapport.chartdata" type="pie"></d3-chart>
    <div class="chart-calc" ng-show = "Rapport.dataDiagram[0].chart.calculations || !Rapport.dataDiagram[0].chart.calculations.length">
      <h2>Beregninger</h2>
      <div class="chart-calc-element" ng-repeat="calculation in Rapport.dataDiagram[0].chart.calculations">
        <div ng-if="calculation.label">{{calculation.label}}</div>
        <div ng-if="calculation.formula">{{Rapport.chartFormula(calculation, Rapport.logs)}} {{calculation.unit}}</div>
      </div>
    </div>
  </div>

  <div class="report-content" ng-if="Rapport.pane == 'bar'">
    <div class='d3container'></div>
    <d3-chart data="Rapport.chartdata" type="bar"></d3-chart>
    <div class="chart-calc" ng-show = "Rapport.dataDiagram[0].chart.calculations || !Rapport.dataDiagram[0].chart.calculations.length">
      <h2>Beregninger</h2>
      <div class="chart-calc-element" ng-repeat="calculation in Rapport.dataDiagram[0].chart.calculations">
        <div ng-if="calculation.label">{{calculation.label}}</div>
        <div ng-if="calculation.formula">{{Rapport.chartFormula(calculation, Rapport.logs)}} {{calculation.unit}}</div>
      </div>
    </div>
  </div>

  <div class="listview report-content" ng-if="Rapport.pane == 'list'">
    <div class="grid list-head" >
      <span class="first" ng-style="{width: Rapport.newWidth}"></span>
      <span class="col-1-8" ng-repeat="column in Rapport.dataList[0].columns">{{column.label}}</span>
    </div>

    <div class="grid list-content" ng-repeat="ilog in Rapport.logs track by $index">
      <span class="first" ng-style="{width: Rapport.newWidth}">{{$index+1}}</span>
      <span class="col-1-8" ng-repeat="column in Rapport.dataList[0].columns">
        {{ilog.data[column.inputID]}}
      </span>
    </div>

    <div class="grid list-content active" ng-repeat="calculation in Rapport.dataList[0].calculations">
      <span class="first calc" ng-style="{width: Rapport.newWidth}">{{calculation.label}}</span>
      <span class="col-1-8 calc" ng-repeat="column in Rapport.dataList[0].columns">
        <p class="text-center">{{Rapport.listFormula(calculation, column)}}</p>
      </span>
    </div>

    <div class="grid list-content" >
      <span class="first" ng-style="{width: Rapport.newWidth}"></span>
      <span class="col-1-8" ng-repeat="column in Rapport.dataList[0].columns">
      </span>
    </div>

  </div>

  <div class="report-content" ng-if="Rapport.pane == 'graph-dotted'">
    <div class='d3container'></div>
    <d3-chart data="Rapport.linedata" type="dot"></d3-chart>
    <div class="chart-calc" ng-show = "Rapport.dataGraph[0].chart.calculations || !Rapport.dataGraph[0].chart.calculations.length">
      <h2>Beregninger</h2>
      <div class="chart-calc-element" ng-repeat="calculation in Rapport.dataGraph[0].chart.calculations">
        <p ng-if="calculation.label">{{calculation.label}}</p>
        <h2 ng-if="calculation.formula">{{Rapport.chartFormula(calculation, Rapport.logs)}} {{calculation.unit}}</h2>
      </div>
    </div>
  </div>

  <div class="report-content" ng-if="Rapport.pane == 'graph-line'">
    <div class='d3container'></div>
    <d3-chart data="Rapport.linedata" type="line"></d3-chart>
    <div class="chart-calc" ng-show = "Rapport.dataGraph[0].chart.calculations || !Rapport.dataGraph[0].chart.calculations.length">
      <h2>Beregninger</h2>
      <div class="chart-calc-element" ng-repeat="calculation in Rapport.dataGraph[0].chart.calculations">
        <div ng-if="calculation.label">{{calculation.label}}</div>
        <div ng-if="calculation.formula">{{Rapport.chartFormula(calculation, Rapport.logs)}} {{calculation.unit}}</div>
      </div>
    </div>
  </div>
</div>